<!DOCTYPE html>
{% autoescape true %}
<html>
	<body>
		{% include 'header.html' %}
		<h1>About Tinker Academy</h1>
		<div><span>Tinker Academy offers online courses in software programming to elementary, middle and high school students in and around Cupertino, California. Students complete 9 weeks of an academically rigourous curriculum with weekly quizzes, hands on lectures, homework assignments and homework reviews. Students meet online every week to review course material and homework with our lead instructors.</span></div>
		<h1>Our Team</h1>
		{% for staffmember in staff %}
		<table>
			<tr>
				<td>{{staffmember.staffname}}</td>									
			</tr>
			<tr>
				<td>{{staffmember.staffrole}}</td>									
			</tr>
			<tr>
				<td>{{staffmember.staffdescription}} {{staffmember.staffname}} can be reached at {{staffmember.staffemail}}.</td>
			</tr>
		</table>
		{% endfor %}
		<h1>Our Partners</h1>
		{% for channelpartner in channelpartners %}
		<table>
			<tr>				
				<td>{{channelpartner.channelpartnername}}</td>		
			</tr>
			<tr>				
				<td><a href="{{channelpartner.channelpartnerwebsite|safe}}">Web Site</a></td>		
			</tr>
			<tr>
				<td><a href="{{channelpartner.channelpartnerregsite|safe}}">Online Registration</a></td>		
			</tr>
		</table>	
		{% endfor %}	
	</body>
</html>
{% endautoescape %}
