<!DOCTYPE html>
{% autoescape true %}
<html>
	<body>
		{% include 'header.html' %}
		<h1>Courses</h1>
		{% for course in courses %}
		<table>
			<tr>				
				<td><span><a href="{{'/course?c='+course.courseid|safe}}">{{course.coursename}}</a></span></td>
			</tr>
			<tr>
				<td><span>{{course.coursestartdate}} Ages {{course.courseminage}}Y - {{course.coursemaxage}}Y</span></td>
			</tr>
			<tr>
				<td><span>{{course.coursedescription}}</span></td>
			</tr>
		</table>
		{% endfor %}
	</body>
</html>
{% endautoescape %}
