<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<title>Tinker Academy - Sign Up Status</title>
	</head>	
	<body>
		{% include 'header.html' %}
		{% if hasreturnvalue %}
		<h1>Sign Up Successful</h1>
		<div><span>If the email address is valid, you should be receiving an email from us within 24 hours.</span></div>
		{% endif %}
		{% if not hasreturnvalue %}
		<h1>Sign Up Failed</h1>
		<div><span>The email {{emailid}} could not be registered. That's all we know.</span></div>
		{% endif %}		
	</body>
</html>
{% endautoescape %}
